%br/
%table{table_attrs, :width => $flex_width}
  %tr
    %td{td_attrs, :style => font_attrs}
      :markdown
        ### Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      -# nest table to avoid use of colspan with inconsistent support
      %br/
      %table{table_attrs, :width => $flex_width}
        - width = ($inner_width - ($gutter_h * 2)) / 3
        - height = 110
        %tr
          %td{td_attrs, :height => height, :width => width}
            %a{link_attrs}
              %img{img_attrs, :src => "#{$img_dev_url}#{width}x#{height}"}

          = partial :'modules/_gutter_h'

          %td{td_attrs, :height => height, :width => width}
            %a{link_attrs}
              %img{img_attrs, :src => "#{$img_dev_url}#{width}x#{height}"}

          = partial :'modules/_gutter_h'

          %td{td_attrs, :height => height, :width => width}
            %a{link_attrs}
              %img{img_attrs, :src => "#{$img_dev_url}#{width}x#{height}"}

