%br/
= partial :'modules/_hr'
%table{table_attrs(:width => $inner_width)}
  %tr 
    - 2.times do
      %td{td_attrs(:width => $col_3, :style => font_attrs)}
        %table{table_attrs, width($col_3)}
          %tr
            %td
              %img{img_attrs(:src => "http://placehold.it/#{$col_3}x#{$img_rythm}"), :width => $col_3, :height => $img_rythm}
        = partial :'modules/_copy_block' 
        %td{gutter_h}

    %td{td_attrs(:width => $col_3, :style => font_attrs)}
      %table{table_attrs, width($col_3)}
        %tr
          %td
            %img{img_attrs(:src => "http://placehold.it/#{$col_3}x#{$img_rythm}"), :width => $col_3, :height => $img_rythm}
      = partial :'modules/_copy_block' 

%br/
