%center
  %table{table_attrs, bgcolor: "#e73f40", width: "350"}
    %tr
      %td{left, top, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}ctl.png", width: "5", height: "5", style: "display: block;"}
      %td{height: "5"}
      %td{left, bottom, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}ctr.png", width: "5", height: "5", style: "display: block;"}
    %tr
      %td{width: "5"}
      %td{center, middle,  style: font_attrs(padding: "5px", font_size: "14px")}
        %strong{style: "font-weight: bold;"}
          %a{link_attrs, style: "color: #{$cta_link_col};"}
            %span{style: "color: #{$cta_link_col};"}
              Gv tri tago alio zorgi, loka vavo disde aĥ ko.
      %td{width: "5"}
    %tr
      %td{right, top, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}cbl.png", width: "5", height: "5", style: "display: block;"}
      %td{height: "5"}
      %td{right, bottom, width: "5", height: "5"}
        %img{src: "#{$img_dev_url}cbr.png", width: "5", height: "5", style: "display: block;"}
