%table.newsletter{table_attrs, bgcolor: "#f0f0f0", style: "border-top: 1px solid #{$border_primary_color}", width: $fix_width}
  %tr
    %td{center}
      %img{src: "#{$img_dev_url}spacer.gif", width: "1", height: "20", style: "display: block;"}
      /monthly
      = partial :_header_module
      - 3.times do
        = partial :_news_module

%table.newsletter{table_attrs, bgcolor: "#f0f0f0", style: "border-top: 1px solid #{$border_primary_color}", width: $fix_width}
  %tr
    %td{center}
      %img{src: "#{$img_dev_url}spacer.gif", width: "1", height: "20", style: "display: block;"}
      /other
      = partial :_header_module
      - 2.times do
        = partial :_news_module
      %img{src: "#{$img_dev_url}spacer.gif", width: "1", height: "20", style: "display: block;"}
