!!!
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => $lang}
    %title Mailer Bootstrap
    :css
      body, .ReadMsgBody, .ExternalClass  { width: 100% !important; } body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; } img { display: block; line-height: 100%; outline: none; text-decoration: none; } a img { border:none; } #bodyImpostor { margin: 0; padding: 0; width: 100% !important; } p { margin: 1em 0; } h1, h2, h3, h4, h5, h6 { color: "#{$copy_col}" !important;  line-height: 100% !important; margin-top: 0 !important;} a { color: "#{$link_col}" } a:hover { color: "#{$link_hover}" } a:active { color: "#{$link_active}" } a:visited { color: "#{$link_visited}" } table td { border-collapse: collapse;} .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span { color: "#{$link_col}"; text-decoration: none !important; border-bottom: none !important; background: none !important; } #outlook a { padding: 0; }

  %body{body_style}
    %table#bodyImpostor{table_attrs(:bgcolor => $wrapper_bg)}
      = partial :_preheader
      = partial :_header
      %tr
        %td{center}
          = partial :'modules/_reminder_top'
          %table{table_attrs(:width => $fix_width)}
            %tr
              = partial :'modules/_gutter_h'
              %td(style="#{font_attrs}"){td_attrs(:bgcolor => "#ffffff")}
                = yield
                %br/
              = partial :'modules/_gutter_h'
      = partial :_footer
